<!-- ejs header layout -->
<%- include("header"); -%>

<!-- use an ejs tag to update the date -->
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <!-- Loop through the entre length of the newListItems array and render a newListItems for each item inside the array -->
  <% newListItems.forEach(function(item) { %>
  <!-- form for deleting items -->
  <form action="/delete" method="post">
    <div class="item">
      <!-- submit form when the checkbox is checked -->
      <input
        type="checkbox"
        name="checkbox"
        value="<%=item._id%>"
        onChange="this.form.submit()"
      />
      <!-- Access the .name property to render the field value for name in the DB -->
      <p><%= item.name %></p>
    </div>
    <!-- add a hidden input type add a name so you can refer to it when you look at your req.body-->
    <!-- add a value with ejs tags -->
    <input type="hidden" name="listName" value="<%= listTitle %>" />
  </form>
  <% }); %>

  <!-- when a user adds a new item through the text input then that item gets saved under the variable named newItem -->
  <form class="item" action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
      autofocus
    />
    <!-- add a value using ejs tag. When the form is submitted we will get access to itemName and listName in the home route post request  -->
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<!-- ejs footer layout -->
<%- include("footer"); -%>
